.add-button{
    -fx-background-color: transparent;
    -fx-border-color:  #D9D9D9;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-cursor: hand;
}
.add-button:hover{
    -fx-background-color: #007D2A;
    -fx-text-fill: white;
    -fx-background-radius: 10px 10px 10px 10px;
}

