.unban-button{
    -fx-background-color: #007D2A;
    -fx-text-fill: white;
    -fx-border-color:  black;
    -fx-cursor: hand;
}
.unban-button:hover{
    -fx-background-color: transparent;
    -fx-text-fill: black;
}.ban-button{
    -fx-background-color: #EB3636;
    -fx-text-fill: white;
    -fx-border-color:  black;
    -fx-cursor: hand;
}
.ban-button:hover{
    -fx-background-color: transparent;
    -fx-text-fill: black;
}

