/* Sidebar Button Click */
.sidebar-button {
    -fx-background-color: transparent;
}

.sidebar-button:hover {
    -fx-background-color: #183434;
}

.logout-button {
    -fx-background-color: transparent;
}

.logout-button:hover {
    -fx-background-color: #600000;
}

/* Login Button */
.login-button {
    -fx-background-color: #303337;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 15px;
}

/* Choice Box Button Click (But now can't change text color)*/
.choice-box {
    -fx-background-color: #303337;
    -fx-background-radius: 15px;
    -fx-font-size: 20px;
    -fx-text-fill: #FFFFFF;
    -fx-mark-color: #FFFFFF;
}

.choice-box .context-menu {
    -fx-background-color: #303337;
    -fx-text-fill: #FFFFFF;
}

.choice-box .menu-item:focused {
    -fx-background-color: #222222;
}

.choice-box .label {
    -fx-text-fill: #FFFFFF;
}

/* Confirm Button Click */
.confirm-button {
    -fx-background-color: #007D2A;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 10px;
}

.confirm-button:hover {

}