* {
    -fx-font-family: Kanit;
}

/* Normal Font */
.label-italic {
    -fx-font-weight: italic;
}

.label-bold {
    -fx-font-size: 36px;
    -fx-font-weight: bold;
}

.label-medium {
    -fx-font-size: 24px;
    -fx-font-weight: medium;
}

.label-regular {
    -fx-font-size: 20px;
    -fx-font-weight: normal;
}

.label-thin {
    -fx-font-size: 14px;
    -fx-font-weight: thin;
}