Pane {
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.2), 10, 0, 0, 0);
}

.background-alert-pane {
    -fx-background-color: rgba(0, 0, 0, 0.3);
}

.scroll-pane {
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.2), 10, 0, 0, 0);
    -fx-background-color: white;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-padding: 8;
}

.scroll-pane AnchorPane {
    -fx-background-color: white;
}

.scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-padding: 5;
}

.scroll-bar .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: #265252;
    -fx-background-radius: 100;
}



